.content-center {
    width: 70%;
    margin: 0 auto;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #4CAF50;
    color: white;
}

table, th, td {
    border: 1px solid #ddd;   
    padding-left: 5px; 
}

table #fixed-col {
    width: 60px;
}